In [1]:
header='ft1 ft2 ft3 ft4 ft5 ft6 ft7 ft8 ft9 ft10 ft11 ft12 ft13 ft14 ft15 ft16 ft17 ft18 ft24 ft25 ft19 ft39 ft20 ft33 ft21 ft35 ft22 ft23 ft34 ft36 ft37 ft38 ft40 ft41 ft42 ft43 ft44 ft45 ft46 ft48 ft47 ft49 ft51 ft50 ft52 ft53 ft54 ft55 ft26 ft27 ft28 ft29 ft30 ft31 ft32'

In [3]:
import pandas as pd

def value(item):
    return item[item.find('=')+1:]

In [4]:
df_velvetH = pd.read_table('velvetH_singlecmd_features.txt', header=None, delimiter=',',
                   converters={i:value for i in range(55)},
                   names=header.split())

df_velvetH = df_velvetH.astype(float)

In [5]:
df_velvetG = pd.read_table('velvetG_singlecmd_features.txt', header=None, delimiter=',',
                   converters={i:value for i in range(55)},
                   names=header.split())

df_velvetG = df_velvetG.astype(float)

In [6]:
df_cdhitdup = pd.read_table('cdhitdup_singlecmd_features.txt', header=None, delimiter=',',
                   converters={i:value for i in range(55)},
                   names=header.split())

df_cdhitdup = df_cdhitdup.astype(float)

In [7]:
df_frhit = pd.read_table('frhit_singlecmd_features.txt', header=None, delimiter=',',
                   converters={i:value for i in range(55)},
                   names=header.split())

df_frhit = df_frhit.astype(float)

In [8]:
df_velvetH

,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,ft9,ft10,...,ft53,ft54,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32
0,2301.0,833.0,979.0,14.0,1428.0,503.0,132.0,631.0,628.0,160.0,...,89.0,1295.0,22.0,88.28,195.57,224.0,347.0,1492.0,13.0,558.0

In [9]:
df_velvetG

,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,ft9,ft10,...,ft53,ft54,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32
0,9837.0,4069.0,3972.0,78.0,6043.0,2139.0,633.0,3149.0,2417.0,637.0,...,429.0,6062.0,298.0,349.07,777.61,1330.0,1353.0,6132.0,67.0,2616.0

In [10]:
df_cdhitdup

,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,ft9,ft10,...,ft53,ft54,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32
0,2984.0,1149.0,1350.0,1.0,1794.0,748.0,140.0,865.0,833.0,244.0,...,74.0,2087.0,3.0,83.41,197.65,669.0,230.0,1783.0,26.0,873.0

In [11]:
df_frhit

,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,ft9,ft10,...,ft53,ft54,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32
0,2286.0,985.0,973.0,24.0,1436.0,577.0,113.0,778.0,543.0,166.0,...,104.0,2007.0,5.0,126.11,152.59,223.0,458.0,1445.0,0.0,681.0