In [1]:
# reads raw profiled files
#maps seqlen to sizeGB
#projects three columns
#returns them

In [1]:
# raw_frhit_profiledData.csv
# raw_velvetg_profiledData.csv
# raw_velveth_profiledData.csv

files = {'frhit' : './profiledcsvfiles/rawfiles/raw_frhit_profiledData.csv', 
         'G': './profiledcsvfiles/rawfiles/raw_velvetg_profiledData.csv', 
         'H' : './profiledcsvfiles/rawfiles/raw_velveth_profiledData.csv',
        'cdduphit' : './profiledcsvfiles/rawfiles/testing_22July_dup.csv'}

In [2]:
def rawTo3Col(rawFile, seqToSizeMap):
    ################################
    import pandas as pd
    from IPython.display import display
    import copy
    
    #read profiledFile
    df_profiled = pd.read_csv(rawFile)
    if 'Unnamed: 0' in df_profiled.columns:
        del df_profiled['Unnamed: 0']
        
    #perform the mapping
    df_profiled['sizeGB'] = df_profiled['seqlen'].map(seqToSizeMap)
    df_profiled = pd.DataFrame(df_profiled[['ppn', 'sizeGB', 'SystemTime' , 'UserTime' ]])
    
    df_profiled = df_profiled.convert_objects(convert_numeric=True)
    df_profiled['Y_time'] = df_profiled['SystemTime'] + df_profiled['UserTime']
    display(df_profiled[['ppn', 'sizeGB', 'Y_time']].head(5))
    
    return copy.deepcopy(df_profiled[['ppn', 'sizeGB', 'Y_time']])

In [3]:
#
############################################################################################
############################################################################################
################################### cdduphit ###############################################
############################################################################################
############################################################################################
#

In [4]:
#cdduphit map

d=1024.0
cdduphitMap = {'5M': 800/d,  '10M': 1608/d,  '15M': 2.4,  '20M': 3.2, '25M'  : 4.0,\
                       '30M': 4.8,   '35M': 5.6,   '40M': 6.4}

In [5]:
#write to file
cdduphit_data = rawTo3Col(files['cdduphit'], cdduphitMap)
cdduphit_data.to_csv('./profiledcsvfiles/cdhitdup_ppn_sizeGB_Ytime.csv')

/home/comet/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:16: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

   ppn    sizeGB  Y_time
0   11  1.570312   45.82
1   11  2.400000   67.97
2   11  3.200000   98.47
3   11  4.000000  120.44
4   11  4.800000  141.66

In [6]:
#
############################################################################################
############################################################################################
################################### frhit ##################################################
############################################################################################
############################################################################################
#

In [7]:
#create map
d = 1024.0
d2 = d*d

frhitMap = {'5M': 799/d2,  '10M': 1.6/d,  '15M': 2.4/d,  '20M': 3.2/d,  '25M': 4.0/d,\
                        '30M': 4.8/d,   '35M': 5.5/d,   '40M': 6.3/d}

In [8]:
#write to file
frhit_data = rawTo3Col(files['frhit'], frhitMap)
frhit_data.to_csv('./profiledcsvfiles/frhit_ppn_sizeGB_Ytime.csv')

/home/comet/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:16: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

    ppn    sizeGB   Y_time
0  11.0  0.001563  1732.64
1   2.0  0.001563  1583.26
2   5.0  0.001563  1623.20
3   8.0  0.001563  1620.72
4  11.0  0.002344  2024.25

In [9]:
#
############################################################################################
############################################################################################
################################### velvetg ################################################
############################################################################################
############################################################################################
#

In [10]:
velvetGMap = {'5M': 1.13,  '10M': 2.42,  '15M': 3.7,  '20M': 5.0,  '25M': 6.3,\
                        '30M': 7.6,   '35M': 8.8,   '40M': 10.1}

In [11]:
#write to file
velvetG_data = rawTo3Col(files['G'], velvetGMap)
velvetG_data.to_csv('./profiledcsvfiles/velvetG_ppn_sizeGB_Ytime.csv')

/home/comet/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:16: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

   ppn  sizeGB  Y_time
0   11    2.42  640.49
1   11    2.42  693.29
2   11    2.42  692.62
3    2    2.42  689.40
4    2    2.42  643.53

In [12]:
#
############################################################################################
############################################################################################
################################### velveth ################################################
############################################################################################
############################################################################################
#

In [13]:
velvetHMap = {'5M': 800.0/d,  '10M': 1606.0/d,  '15M': 2.4,  '20M': 3.2,  '25M': 4.0,\
                        '30M': 4.8,   '35M': 5.6,   '40M': 6.4}

In [14]:
#write to file
velvetH_data = rawTo3Col(files['H'], velvetHMap)
velvetH_data.to_csv('./profiledcsvfiles/velvetH_ppn_sizeGB_Ytime.csv')

/home/comet/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:16: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

   ppn    sizeGB  Y_time
0   11  1.568359  464.01
1   11  1.568359  503.73
2   11  1.568359  504.92
3    2  1.568359  503.45
4    2  1.568359  460.82