In [3]:
# read DUP ppn, size, Ytime from csv
import pandas as pd

small = pd.read_csv('22July_dup_ppn_sizeGB_Ytime.csv')
del small['Unnamed: 0']
small.head(5)

   ppn  sizeGB  Y_time
0   11     1.2   45.82
1   11     1.7   67.97
2   11     2.3   98.47
3   11     2.9  120.44
4   11     3.4  141.66

In [4]:
import numpy as np
#shuffle
ft1  =small.iloc[np.random.permutation(len(small))]
ft2  =ft1.reset_index(drop=True)
small = ft2.copy(deep=True)

small.rename(columns={'ppn': 'X', 'sizeGB': 'Y', 'Y_time': 'Z'}, inplace=True)
small.head(5)

    X    Y       Z
0  11  2.3   98.47
1  11  3.4  141.66
2   5  4.5  203.50
3   8  4.5  203.98
4   2  1.2   46.36

In [5]:
small['S']=small['X']+small['Y']+small['Z']
small.head(5)

    X    Y       Z       S
0  11  2.3   98.47  111.77
1  11  3.4  141.66  156.06
2   5  4.5  203.50  213.00
3   8  4.5  203.98  216.48
4   2  1.2   46.36   49.56

In [6]:
features = small.columns[0:3]
target = small.columns[3]
features, target

(Index(['X', 'Y', 'Z'], dtype='object'), 'S')

In [7]:
small[0:5]

    X    Y       Z       S
0  11  2.3   98.47  111.77
1  11  3.4  141.66  156.06
2   5  4.5  203.50  213.00
3   8  4.5  203.98  216.48
4   2  1.2   46.36   49.56

In [8]:
from sklearn.ensemble.forest import RandomForestRegressor
import numpy as  np
from sklearn import cross_validation
from sklearn.metrics import mean_squared_error
model = RandomForestRegressor(n_estimators=2, n_jobs=-1, oob_score=True)

t = 1
ft = small[0:10].copy(deep=True)

while(t == 1):
    np.random.seed()
    ft['is_train']=np.random.uniform(0,1,len(ft)) <= .8
    train, test = ft[ft['is_train']==True], ft[ft['is_train']==False]
    del ft['is_train']
    F = len(train)*1.0 / (len(test)+len(train))
    
    X_train = train[features]
    Y_train = train[target]
    X_test = test[features]
    Y_test = test[target].as_matrix()
    
    model.fit(X_train, Y_train.values)
    Y_prediction = model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(Y_test, Y_prediction))
    t=0

/data/home/a1singh/anaconda3/lib/python3.5/site-packages/sklearn/ensemble/forest.py:687: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

In [9]:
rmse

45.42453976101465

In [10]:
from sklearn import tree

with open("estimator0_example.dot", 'w') as f:
    f=tree.export_graphviz(model.estimators_[0], out_file=f,  
                         feature_names=['X','Y','Z'],  
                         filled=True, rounded=True,  
                         special_characters=True)

In [11]:
with open("estimator1_example.dot", 'w') as f:
    f=tree.export_graphviz(model.estimators_[1], out_file=f,  
                         feature_names=['X','Y','Z'],  
                         filled=True, rounded=True,  
                         special_characters=True)