In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("table_11July.csv", sep=",")

In [4]:
len(df)

336

In [5]:
df.head(n=1)

,ppn,mem,seqlen,trial,AvgRSS,AvgSharedTxt,AvgStack,AvgTotal,AvgUnsharedData,CommandTimed,...,PageSize,PercentCPU,SignalsDeliv,SocketMsgRecv,SocketMsgSent,Swaps,SystemTime,UserTime,VolCtxtSwitch,WallTime
0,12,10G,10M,1,0.0,0.0,0.0,0.0,0.0,/oasis/scratch/comet/a3rao/temp_project/NGS-an...,...,4096.0,99%,0.0,0.0,0.0,0.0,5.22,51.26,96.0,0:56.71

In [6]:
#find which columns are completely empty
a=len(df[df['AvgRSS'] > 0])
b=len(df[df['AvgSharedTxt'] > 0])
c=len(df[df['AvgStack'] > 0])
d=len(df[df['AvgTotal'] > 0])
e=len(df[df['AvgUnsharedData'] > 0])

print(a,b,c,d,e)

0 0 0 0 0

In [7]:
header = list(df.columns)

In [8]:
i = 1
a = 0
emptyColumns = []
for h in header:
    try:
        a=len(df[df[h] > 0])
        print(a,  h)
        if(a==0): #nothing is greater than zero for this column
            emptyColumns.append(h)
    except:
        print('......................'+ h +' not a scalar')
    i=i+1

336 ppn
......................mem not a scalar
......................seqlen not a scalar
336 trial
0 AvgRSS
0 AvgSharedTxt
0 AvgStack
0 AvgTotal
0 AvgUnsharedData
......................CommandTimed not a scalar
0 ExitStatus
335 FileSysIn
321 FileSysOut
335 InvolCtxtSwitch
335 MajorFaults
335 MaxRSS
335 MinorFaults
335 PageSize
......................PercentCPU not a scalar
0 SignalsDeliv
0 SocketMsgRecv
0 SocketMsgSent
0 Swaps
335 SystemTime
335 UserTime
335 VolCtxtSwitch
......................WallTime not a scalar

In [9]:
emptyColumns.append('trial')
emptyColumns.append('PageSize')

In [10]:
for c in emptyColumns:
    del df[c]

In [11]:
df.head(n=1)

,ppn,mem,seqlen,CommandTimed,FileSysIn,FileSysOut,InvolCtxtSwitch,MajorFaults,MaxRSS,MinorFaults,PercentCPU,SystemTime,UserTime,VolCtxtSwitch,WallTime
0,12,10G,10M,/oasis/scratch/comet/a3rao/temp_project/NGS-an...,9264.0,2179432.0,192.0,6.0,6543764.0,1393987.0,99%,5.22,51.26,96.0,0:56.71

In [12]:
len(df)

336

In [13]:
#DISPLAY lines which are NULL
df[df.CommandTimed.isnull()]

,ppn,mem,seqlen,CommandTimed,FileSysIn,FileSysOut,InvolCtxtSwitch,MajorFaults,MaxRSS,MinorFaults,PercentCPU,SystemTime,UserTime,VolCtxtSwitch,WallTime
54,16,10G,40M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#DROP the lines which are NULL
df = df[df.CommandTimed.notnull()]
len(df)

335

In [15]:
df[(df['ppn'] == 2) & (df['seqlen'] == '5M')][['mem','UserTime']].sort_values(by = 'UserTime')

      mem  UserTime
199   10G     20.02
215   20G     20.03
207  110G     22.14
239   90G     22.17
231   60G     22.67
223   40G     22.69

In [16]:
df[(df['mem'] == '20G') & (df['seqlen'] == '5M')][['ppn','UserTime']].sort_values(by = 'UserTime')

     ppn  UserTime
215    2     20.03
23    12     20.12
311    8     22.01
263    4     22.63
167   24     22.64
119   20     22.70
71    16     23.17

In [17]:
df[(df['mem'] == '60G') & (df['seqlen'] == '40M')][['ppn','UserTime']].sort_values(by = 'UserTime')

     ppn  UserTime
38    12    188.95
86    16    190.39
278    4    213.04
230    2    216.54
326    8    217.82
134   20    225.08
182   24    226.16

In [18]:
import matplotlib.pyplot as plt

In [127]:
pltThs=df[(df['ppn']==2) & (df['seqlen']=='20M')][['mem','MajorFaults']].sort_values(by='MajorFaults')

In [128]:
pltThs

      mem  MajorFaults
202  110G          6.0
210   20G          6.0
218   40G          6.0
226   60G          6.0
234   90G          6.0
194   10G          8.0